.container {
  padding-top: 20px;
  padding-left: 40px;
  padding-left: 40px;
}

.input_containers {
  padding-top: 10px;
}

/* how to add astericks?  */
.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.require-sign-in {
  text-align: center;
  position: relative;
  width: max-content;
}

.require-sign-in h3 {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
}
