.navbar-container {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
}

.navbar-nav {
  align-items: baseline;
}

.hivemind-title {
  margin-right: 20px;
}

.sign-out-btn {
  margin-left: 10px;
}
