.resource {
  margin-top: 10px;
}

.resource-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title-study-list-elements {
  display: flex;
  align-items: baseline;
}

.add-to-study-list-text {
  margin-right: 10px;
}

.resource-details {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 5px;
}

.resource-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resource-footer h6 {
  align-self: start;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 75%;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  width: 120px;
  align-items: center;
}

.header-button {
  margin-right: 5px;
  border: 0;
}

.header-button:hover {
  background: #ffdd99;
}

.add-study-list-toggle {
  margin-right: 5px;
}

.tag-badge {
  margin: 2px;
}

.expand-button {
  margin-left: 7px;
}

.comment-group {
  width: 100%;
}

.comment-toggle {
  margin-top: 7px;
}

.resource-summary {
  display: flex;
  justify-content: space-between;
}

.card-title {
  display: flex;
  justify-content: space-between;
}
.card-title-details {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.card-title-main {
  display: flex;
}
.card-title-main h5 {
  margin-right: 5px;
}
