.filterType {
  display: flex;
  flex-wrap: wrap;
}

.filterRecommendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tag-badge {
  margin: 2px;
}

.tag-react {
  color: blueviolet;
}

.contentType {
  width: 29%;
}
